<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccesLayer.Properties.Settings.GSD_Db2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\GSD_Db2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>